@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-effect{
    position: relative;
}

.hover-effect::after {
    content: '';
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: .25rem;
    background-color: white;
    border-radius: 100px;
    transition: all 200ms;
}

.hover-effect:hover::after{
    width: 50%;
}


.p-grid-template{
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
}

.overlay {
    transition: all 300ms;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(182, 30, 30, 0); 
    z-index: 10;
    transition: all 300ms;
}


.overlay:hover::after {
    background-color: rgba(186, 186, 186, 0.521); 
    
}